<h1>New post</h1>

<%= form_for :post, url: posts_path do |f| %>

  <%= f.label :subject, 'Subject' %>
  <br>
  <%= f.text_field :subject %>
  <br>
  <br>

  <%= f.submit %>

<% end %>

